openapi: 3.0.3
info:
  title: Scalebox API
  description: Scalebox Cloud Sandbox API
  version: 1.0.0
  contact:
    name: Scalebox Team
    url: https://scalebox.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.scalebox.dev
    description: Production server
  - url: https://staging-api.scalebox.dev
    description: Staging server

paths:
  /v1/sandboxes:
    post:
      summary: Create a new sandbox
      description: Create a new sandbox instance
      tags:
        - Sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSandboxRequest'
      responses:
        '201':
          description: Sandbox created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SandboxResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      summary: List sandboxes
      description: Get list of sandboxes
      tags:
        - Sandboxes
      parameters:
        - name: project_id
          in: query
          schema:
            type: string
          description: Filter by project ID
        - name: status
          in: query
          schema:
            type: string
            enum: [created, starting, running, pausing, paused, resuming, terminating, terminated, failed]
          description: Filter by status
        - name: owner_user_id
          in: query
          schema:
            type: string
          description: Filter by owner user ID (root users only)
        - name: search
          in: query
          schema:
            type: string
          description: Search in sandbox names
        - name: sort_by
          in: query
          schema:
            type: string
          description: Sort by field
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [asc, desc]
          description: Sort order
        - name: limit
          in: query
          schema:
            type: integer
          description: Maximum number of results per page
        - name: page_size
          in: query
          schema:
            type: integer
          description: Alias for limit (page size)
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
          description: 1-based page index (default 1). When offset or skip is set, the effective page is derived on the server.
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
          description: Number of rows to skip before returning results
        - name: skip
          in: query
          schema:
            type: integer
            minimum: 0
          description: Alias for offset
      responses:
        '200':
          description: List of sandboxes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ListSandboxesResponseData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}:
    get:
      summary: Get sandbox details
      description: Get details of a specific sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      responses:
        '200':
          description: Sandbox details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SandboxResponse'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update sandbox
      description: Update sandbox settings (mainly timeout)
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSandboxRequest'
      responses:
        '200':
          description: Sandbox updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete sandbox
      description: Delete a sandbox instance
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
        - name: force
          in: query
          schema:
            type: boolean
            default: true
          description: Force deletion even if sandbox is running
      responses:
        '202':
          description: Sandbox deletion initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sandbox_id:
                        type: string
                      status:
                        type: string
                      note:
                        type: string
                  message:
                    type: string
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/status:
    get:
      summary: Get sandbox status (lightweight)
      description: Returns only sandbox_id, status, substatus, reason, updated_at for polling. Use this instead of GET /v1/sandboxes/{sandbox_id} for status polling to reduce payload.
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      responses:
        '200':
          description: Sandbox status
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SandboxStatusResponse'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/pause:
    post:
      summary: Pause a running sandbox
      description: Pause a running sandbox. Default (sync) waits until paused or failed. Pass is_async in body to return immediately.
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                is_async:
                  type: boolean
                  default: false
                  description: When true, return immediately; when false, wait until paused/failed
      responses:
        '200':
          description: Sandbox paused (sync) or pause initiated (async)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/resume:
    post:
      summary: Resume a paused sandbox
      description: Resume a paused sandbox. Default (sync) waits until running or failed. Pass is_async in body to return immediately. Deprecated - prefer /connect endpoint.
      deprecated: true
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                is_async:
                  type: boolean
                  default: false
                  description: When true, return immediately; when false, wait until running/failed
      responses:
        '200':
          description: Sandbox resumed (sync) or resume initiated (async)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/timeout:
    put:
      summary: Update sandbox timeout
      description: Update the timeout for a sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxTimeoutRequest'
      responses:
        '200':
          description: Timeout updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      timeout:
                        type: integer
                      timeout_at:
                        type: string
                        format: date-time
                      used_lifetime:
                        type: integer
                      remaining_time:
                        type: integer
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/ports:
    get:
      summary: Get sandbox ports
      description: Get all ports (template + custom) for a sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      responses:
        '200':
          description: Port list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ports:
                        type: array
                        items:
                          $ref: '#/components/schemas/PortConfig'
                      template_ports:
                        type: array
                        items:
                          $ref: '#/components/schemas/PortConfig'
                      custom_ports:
                        type: array
                        items:
                          $ref: '#/components/schemas/PortConfig'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    post:
      summary: Add custom port to sandbox
      description: Add a custom port to a running sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - port
                - name
              properties:
                port:
                  type: integer
                  format: int32
                  description: Port number
                service_port:
                  type: integer
                  format: int32
                  description: Service port (defaults to port)
                protocol:
                  type: string
                  enum: [TCP, UDP]
                  default: TCP
                  description: Port protocol
                name:
                  type: string
                  description: Port name
      responses:
        '200':
          description: Port added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SandboxResponse'
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/ports/{port}:
    delete:
      summary: Remove custom port from sandbox
      description: Remove a custom port from a running sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
        - name: port
          in: path
          required: true
          schema:
            type: integer
            format: int32
          description: Port number to remove
      responses:
        '200':
          description: Port removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/create-template:
    post:
      summary: Create template from sandbox
      description: Create a template from a running sandbox. The sandbox must be in running state.
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateFromSandboxRequest'
      responses:
        '200':
          description: Template creation initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      template_id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      default_cpu_count:
                        type: integer
                      default_memory_mb:
                        type: integer
                      is_public:
                        type: boolean
                      status:
                        type: string
                      harbor_project:
                        type: string
                      harbor_repository:
                        type: string
                      harbor_tag:
                        type: string
                      base_template_id:
                        type: string
                      ports:
                        type: string
                        description: JSON string of port configurations
                      custom_command:
                        type: string
                      ready_command:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                      message:
                        type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/terminate:
    post:
      summary: Terminate sandbox
      description: Terminate a sandbox (keeps it visible in database)
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
        - name: force
          in: query
          schema:
            type: boolean
            default: false
          description: Force termination
      responses:
        '202':
          description: Sandbox termination initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sandbox_id:
                        type: string
                      status:
                        type: string
                      note:
                        type: string
                  message:
                    type: string

  /v1/sandboxes/{sandbox_id}/start:
    post:
      summary: Start sandbox
      description: Start a created sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      responses:
        '200':
          description: Sandbox started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      domain:
                        type: string
                        description: Sandbox access domain
                  message:
                    type: string
        '400':
          description: Bad request (e.g., sandbox already running)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/stop:
    post:
      summary: Stop sandbox
      description: Stop a running sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      responses:
        '200':
          description: Sandbox stopped successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request (e.g., sandbox not running)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/deploy:
    post:
      summary: Deploy sandbox
      description: Deploy a sandbox using driver-based deployment
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cluster_id:
                  type: string
                  description: Target cluster ID (optional)
                cpu_count:
                  type: integer
                  description: Override CPU count (optional)
                memory_mb:
                  type: integer
                  description: Override memory in MB (optional)
      responses:
        '200':
          description: Sandbox deployed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SandboxDeploymentResponse'
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/stats:
    get:
      summary: Get sandbox statistics
      description: Get sandbox statistics for the current user
      tags:
        - Sandboxes
      responses:
        '200':
          description: Sandbox statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SandboxStatsResponse'

  /v1/sandboxes/batch-delete:
    post:
      summary: Batch delete sandboxes
      description: Delete multiple sandboxes in a single request
      tags:
        - Sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchDeleteRequest'
      responses:
        '200':
          description: Batch deletion results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BatchDeleteResponse'
                  message:
                    type: string

  /v1/sandboxes/batch-terminate:
    post:
      summary: Batch terminate sandboxes
      description: Terminate multiple sandboxes in a single request
      tags:
        - Sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchTerminateRequest'
      responses:
        '202':
          description: Batch terminate initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BatchOperationResponse'
                  message:
                    type: string

  /v1/sandboxes/batch-pause:
    post:
      summary: Batch pause sandboxes
      description: Pause multiple running sandboxes in a single request
      tags:
        - Sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchIdsRequest'
      responses:
        '202':
          description: Batch pause initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BatchOperationResponse'
                  message:
                    type: string

  /v1/sandboxes/batch-resume:
    post:
      summary: Batch resume sandboxes
      description: Resume multiple paused sandboxes in a single request
      tags:
        - Sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchIdsRequest'
      responses:
        '202':
          description: Batch resume initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BatchOperationResponse'
                  message:
                    type: string

  /v1/scalebox-regions:
    get:
      summary: Get available scalebox regions
      description: |
        Get a list of available Scalebox Regions that currently have eligible clusters.
        This is a public API (no authentication required) to help users discover
        available regions for locality-based scheduling.
      tags:
        - Sandboxes
      responses:
        '200':
          description: List of available scalebox regions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      scalebox_regions:
                        type: array
                        items:
                          $ref: '#/components/schemas/ScaleboxRegion'
                        description: List of available scalebox regions with eligible clusters
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/templates:
    get:
      summary: List templates
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      parameters:
        - name: usable
          in: query
          schema:
            type: boolean
          description: When true, return only templates usable for sandbox creation
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, building, pushing, available, failed]
        - name: visibility
          in: query
          schema:
            type: string
            enum: [private, account_shared, public]
        - name: name
          in: query
          schema:
            type: string
          description: Exact template name match
        - name: search
          in: query
          schema:
            type: string
          description: Partial match on name and description
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
        - name: skip
          in: query
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: Paginated template list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ListTemplatesResponseData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create template
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateWriteRequestBody'
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TemplateRecord'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/templates/storage-usage:
    get:
      summary: Private image storage usage
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Storage usage payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PrivateImageStorageUsageData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/templates/import:
    post:
      summary: Start direct template import from external image
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectImportTemplateRequestBody'
      responses:
        '202':
          description: Template created and import accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DirectImportAcceptedResponseData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/templates/validate-custom-image:
    post:
      summary: Validate a custom container image
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateCustomImageRequestBody'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ValidateCustomImageSuccessData'
        '400':
          description: Image validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ValidateCustomImageErrorData'
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/templates/{template_id}:
    parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get template by ID
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Template
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TemplateRecord'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update template
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateWriteRequestBody'
      responses:
        '200':
          description: Updated template (data contains a `template` object)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UpdateTemplateResponseData'
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete template
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/templates/{template_id}/status:
    put:
      summary: Update template build status
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateStatusRequestBody'
      responses:
        '200':
          description: Template status update result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TemplateStatusUpdateResponseData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/templates/{template_id}/validate:
    post:
      summary: Validate template configuration
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateTemplateRequestBody'
      responses:
        '200':
          description: Validation payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ValidateTemplateResponseData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/templates/{template_id}/dockerfile:
    get:
      summary: Get generated Dockerfile (plain text)
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
        - name: download
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Dockerfile
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/templates/{template_id}/chain:
    get:
      summary: Get template inheritance chain
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Chain response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TemplateChainResponseData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/templates/{template_id}/share:
    post:
      summary: Share template
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareTemplateRequestBody'
      responses:
        '200':
          description: Updated template
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TemplateShareOperationData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/templates/{template_id}/unshare:
    post:
      summary: Unshare template
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated template
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TemplateShareOperationData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/templates/{template_id}/import:
    parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Start import for an existing template record
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      responses:
        '202':
          description: Import job accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TemplateImportStartAcceptedData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get template import status
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Import status
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TemplateImportStatusData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Cancel template import
      tags:
        - Templates
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TemplateImportCancelData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/import-jobs:
    get:
      summary: List import jobs for current user
      tags:
        - ImportJobs
      security:
        - ApiKeyAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
        - name: skip
          in: query
          schema:
            type: integer
            minimum: 0
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, running, completed, failed, cancelled, ongoing]
          description: Filter by job status; `ongoing` matches pending or running jobs
        - name: template_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated import jobs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ListImportJobsResponseData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/import-jobs/{job_id}:
    parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get import job by ID
      tags:
        - ImportJobs
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Import job
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ImportJobDetailData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Cancel import job by ID
      tags:
        - ImportJobs
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TemplateImportCancelData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

  schemas:
    CreateSandboxRequest:
      type: object
      properties:
        name:
          type: string
          description: Sandbox name
        description:
          type: string
          description: Sandbox description
        template:
          type: string
          description: Template name or ID (defaults to "base")
        project_id:
          type: string
          description: Project ID (optional, defaults to user's default project)
        cpu_count:
          type: integer
          minimum: 1
          description: Number of CPU cores
        memory_mb:
          type: integer
          minimum: 128
          description: Memory in MB
        storage_gb:
          type: integer
          minimum: 0
          description: Storage in GB
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Flexible key-value metadata
        timeout:
          type: integer
          minimum: 60
          maximum: 86400
          description: Timeout in seconds (defaults to 300)
        env_vars:
          type: object
          additionalProperties:
            type: string
          description: Environment variables
        secure:
          type: boolean
          default: true
          description: Security setting
        allow_internet_access:
          type: boolean
          default: true
          description: Internet access setting
        auto_pause:
          type: boolean
          default: false
          description: If true, timeout causes auto-pause; if false, timeout causes termination (IMMUTABLE)
        custom_ports:
          type: array
          items:
            $ref: '#/components/schemas/PortConfig'
          description: Optional custom ports (ports not in template). Must have unique port numbers and names.
        net_proxy_country:
          type: string
          enum: [united-states, canada, japan, malaysia, brazil, france, italy, china, hong-kong]
          description: Network proxy country for sandbox traffic routing (optional)
        locality:
          $ref: '#/components/schemas/LocalityConfig'
          description: Locality preferences for sandbox scheduling (optional)
        object_storage:
          type: array
          items:
            $ref: '#/components/schemas/ObjectStorageConfig'
          description: |
            Object storage mounts (S3-compatible). Accepts a single object (legacy)
            or an array. mount_point must be absolute path. At least one of region
            or endpoint required per mount.
        object_storage_direct_mount:
          type: boolean
          description: |
            When true, worker container mounts object storage via s3fs directly
            (worker image must have s3fs installed). When false/omitted, sidecar
            handles mount. Only for custom templates.
        s3fs_executable_path:
          type: string
          description: |
            Path to s3fs binary in worker container. Only used when
            object_storage_direct_mount is true. Defaults to "s3fs".
        is_async:
          type: boolean
          default: false
          description: |
            When true, return immediately (client polls for status).
            When false/omitted, wait until running or failed (default).

    UpdateSandboxRequest:
      type: object
      required:
        - timeout
      properties:
        timeout:
          type: integer
          minimum: 1
          description: New timeout in seconds (must be greater than current timeout)

    SandboxTimeoutRequest:
      type: object
      required:
        - timeout
      properties:
        timeout:
          type: integer
          minimum: 1
          description: New timeout in seconds (must be >= already used lifetime)

    SandboxStatusResponse:
      type: object
      description: Lightweight status for polling (GET /v1/sandboxes/{sandbox_id}/status)
      properties:
        sandbox_id:
          type: string
          description: Sandbox ID
        status:
          type: string
          enum: [created, starting, running, pausing, paused, resuming, terminating, terminated, failed]
          description: Current sandbox status
        substatus:
          type: string
          enum: [allocating, deploying, initializing, waiting_ready, cleaning_resources, cleaning_data]
          nullable: true
          description: Detailed substatus for transitional states
        reason:
          type: string
          nullable: true
          description: Reason for current status or failure
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    SandboxResponse:
      type: object
      properties:
        sandbox_id:
          type: string
          description: Unique sandbox identifier
        name:
          type: string
          description: Sandbox name
        description:
          type: string
          description: Sandbox description
        template_id:
          type: string
          description: Template ID
        template_name:
          type: string
          description: Template name
        owner_user_id:
          type: string
          description: Owner user ID
        project_id:
          type: string
          description: Project ID
        project_name:
          type: string
          description: Project name
        cpu_count:
          type: integer
          description: Number of CPU cores
        memory_mb:
          type: integer
          description: Memory in MB
        storage_gb:
          type: integer
          description: Storage in GB
        timeout:
          type: integer
          description: Timeout in seconds
        secure:
          type: boolean
          description: Security setting
        allow_internet_access:
          type: boolean
          description: Internet access setting
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Metadata key-value pairs
        env_vars:
          type: object
          additionalProperties:
            type: string
          description: Environment variables
        status:
          type: string
          enum: [created, starting, running, pausing, paused, resuming, terminating, terminated, failed]
          description: Current sandbox status
        substatus:
          type: string
          enum: [allocating, deploying, initializing, waiting_ready, cleaning_resources, cleaning_data]
          description: Detailed substatus for transitional states
        reason:
          type: string
          description: Reason for current status or failure
        started_at:
          type: string
          format: date-time
          description: When sandbox started running
          nullable: true
        stopped_at:
          type: string
          format: date-time
          description: When sandbox stopped
          nullable: true
        timeout_at:
          type: string
          format: date-time
          description: When sandbox will timeout
          nullable: true
        ended_at:
          type: string
          format: date-time
          description: When sandbox lifecycle ended
          nullable: true
        paused_at:
          type: string
          format: date-time
          description: When sandbox was last paused
          nullable: true
        pausing_at:
          type: string
          format: date-time
          description: When sandbox pause operation started
          nullable: true
        resumed_at:
          type: string
          format: date-time
          description: When sandbox was last resumed
          nullable: true
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
        sandbox_domain:
          type: string
          description: Sandbox access domain
          nullable: true
        envd_access_token:
          type: string
          description: Token for sandbox access
          nullable: true
        uptime:
          type: integer
          description: Uptime in seconds
        total_running_seconds:
          type: integer
          description: Cumulative running time across all running phases (persistent)
        actual_total_running_seconds:
          type: integer
          format: int64
          description: Dynamic total running time including current phase if running
        total_paused_seconds:
          type: integer
          description: Cumulative paused time across all pause periods (persistent)
        actual_total_paused_seconds:
          type: integer
          description: Dynamic total paused time including current pause if paused
        persistence_days:
          type: integer
          description: Number of days sandbox data persists after termination (from plan)
        persistence_expires_at:
          type: string
          format: date-time
          description: When sandbox data will be permanently deleted
          nullable: true
        persistence_days_remaining:
          type: integer
          description: Days remaining until data deletion
          nullable: true
        auto_pause:
          type: boolean
          description: If true, timeout causes auto-pause; if false, termination (IMMUTABLE)
        network_proxy:
          type: object
          description: Network proxy config (when token generated)
          nullable: true
          properties:
            proxy_url:
              type: string
              description: Full proxy URL (username:password@host:port)
            proxy_configs:
              type: object
              properties:
                host:
                  type: string
                port:
                  type: integer
                username:
                  type: string
                password:
                  type: string
        ports:
          type: array
          items:
            $ref: '#/components/schemas/PortConfig'
          description: All ports (template ports + custom ports)
        template_ports:
          type: array
          items:
            $ref: '#/components/schemas/PortConfig'
          description: Ports from template
        custom_ports:
          type: array
          items:
            $ref: '#/components/schemas/PortConfig'
          description: Custom ports added to sandbox
        net_proxy_country:
          type: string
          enum: [united-states, canada, japan, malaysia, brazil, france, italy, china, hong-kong]
          description: Network proxy country setting
          nullable: true
        # Object storage mount information
        object_storage:
          type: array
          items:
            $ref: '#/components/schemas/ObjectStorageInfo'
          description: Object storage mounts (multi-path support, array format)
        object_storage_direct_mount:
          type: boolean
          description: Whether object storage is directly mounted via s3fs
        object_storage_s3fs_path:
          type: string
          description: S3fs executable path used for direct mount
          nullable: true
        # Kubernetes deployment information
        cluster_id:
          type: string
          description: Kubernetes cluster ID where sandbox is deployed
          nullable: true
        namespace_id:
          type: string
          description: User namespace ID in the cluster
          nullable: true
        pod_name:
          type: string
          description: Kubernetes pod name
          nullable: true
        pod_uid:
          type: string
          description: Kubernetes pod UID
          nullable: true
        pod_ip:
          type: string
          description: Pod IP address
          nullable: true
        node_name:
          type: string
          description: Node where pod is scheduled
          nullable: true
        container_name:
          type: string
          description: Container name within the pod
          nullable: true
        allocation_time:
          type: string
          format: date-time
          description: When sandbox was allocated to cluster
          nullable: true
        last_pod_status:
          type: string
          description: Last known Kubernetes pod status
          nullable: true
        # State management information
        deletion_in_progress:
          type: boolean
          description: Whether sandbox deletion is in progress
          default: false
        resources:
          type: object
          properties:
            cpu:
              type: integer
              description: CPU cores allocated
            memory:
              type: integer
              description: Memory in MB allocated
            storage:
              type: integer
              description: Storage in GB allocated
            bandwidth:
              type: integer
              description: Bandwidth allocation (placeholder)
        cost:
          type: object
          properties:
            hourlyRate:
              type: number
              format: float
              description: Hourly rate for this sandbox
            totalCost:
              type: number
              format: float
              description: Total cost accumulated
        owner:
          type: object
          properties:
            user_id:
              type: string
              description: User ID of the owner
            username:
              type: string
              description: Username of the owner
            display_name:
              type: string
              description: Display name of the owner
              nullable: true
            email:
              type: string
              description: Email of the owner
        # Computed / extended fields
        remaining_seconds:
          type: integer
          description: Computed remaining time until timeout
          nullable: true
        template_exists:
          type: boolean
          description: Whether the template still exists
        template_custom_command:
          type: string
          description: Template custom startup command
          nullable: true
        template_ready_command:
          type: string
          description: Template readiness probe command
          nullable: true
        template_source:
          type: string
          description: Template source/image information
          nullable: true
        sandbox_domain_internal:
          type: string
          description: Internal domain name for sandbox
          nullable: true
        lifecycle_outcome:
          type: string
          description: NFS archive status (completed, protected, archiving)
          nullable: true
        web_terminal_available:
          type: boolean
          description: Whether web terminal is available
        web_files_available:
          type: boolean
          description: Whether web file browser is available

    SandboxDeploymentResponse:
      type: object
      properties:
        sandbox_id:
          type: string
          description: Sandbox ID
        cluster_id:
          type: string
          description: Cluster ID where sandbox is deployed
        namespace:
          type: string
          description: Kubernetes namespace
        access_url:
          type: string
          description: External access URL
        internal_url:
          type: string
          description: Internal cluster URL
        access_token:
          type: string
          description: Access token for the sandbox
        status:
          type: string
          description: Deployment status
        deployment_at:
          type: string
          format: date-time
          description: Deployment timestamp
        deployment:
          type: string
          description: Kubernetes deployment name
        service:
          type: string
          description: Kubernetes service name
        ingress:
          type: string
          description: Kubernetes ingress name
        sandbox_type:
          type: string
          description: Type of sandbox deployed
        driver_version:
          type: string
          description: Driver version used for deployment

    SandboxStatsResponse:
      type: object
      properties:
        total_sandboxes:
          type: integer
          description: Total number of sandboxes
        running_sandboxes:
          type: integer
          description: Number of running sandboxes
        terminated_sandboxes:
          type: integer
          description: Number of terminated sandboxes
        failed_sandboxes:
          type: integer
          description: Number of failed sandboxes
        total_cost:
          type: number
          format: float
          description: Total cost accumulated
        avg_cpu_usage:
          type: number
          format: float
          description: Average CPU usage percentage
        avg_memory_usage:
          type: number
          format: float
          description: Average memory usage percentage
        total_uptime_hours:
          type: number
          format: float
          description: Total uptime in hours

    BatchDeleteRequest:
      type: object
      required:
        - sandbox_ids
      properties:
        sandbox_ids:
          type: array
          items:
            type: string
          description: List of sandbox IDs to delete
        force:
          type: boolean
          default: false
          description: Force deletion even if sandboxes are running

    BatchDeleteResponse:
      type: object
      properties:
        successful_count:
          type: integer
          description: Number of successfully deleted sandboxes
        failed_count:
          type: integer
          description: Number of failed deletions
        successful:
          type: array
          items:
            type: string
          description: List of successfully deleted sandbox IDs
        failed:
          type: array
          items:
            type: object
            properties:
              sandbox_id:
                type: string
              error:
                type: string
          description: List of failed deletions with errors

    BatchIdsRequest:
      type: object
      required:
        - sandbox_ids
      properties:
        sandbox_ids:
          type: array
          items:
            type: string
          description: List of sandbox IDs

    BatchTerminateRequest:
      type: object
      required:
        - sandbox_ids
      properties:
        sandbox_ids:
          type: array
          items:
            type: string
          description: List of sandbox IDs to terminate
        force:
          type: boolean
          default: false
          description: Force termination even if sandboxes are running

    BatchOperationResult:
      type: object
      properties:
        sandbox_id:
          type: string
        status:
          type: string
          enum: [success, error]
        error:
          type: string
          description: Error message when status is error

    BatchOperationResponse:
      type: object
      properties:
        total:
          type: integer
        successful:
          type: integer
        failed:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/BatchOperationResult'

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object

    ListPagination:
      type: object
      description: |
        Pagination envelope nested under `data` for list endpoints (canonical Scalebox list contract).
        Query parameters are parsed with `page` (1-based), `limit` or `page_size`, and `offset` or `skip`.
      required:
        - page
        - limit
        - total
        - total_pages
      properties:
        page:
          type: integer
          minimum: 1
          description: Current 1-based page index
        limit:
          type: integer
          minimum: 1
          description: Page size used for this response
        total:
          type: integer
          format: int64
          minimum: 0
          description: Total number of rows matching the list query
        total_pages:
          type: integer
          minimum: 0
          description: Total number of pages for this limit
        offset:
          type: integer
          minimum: 0
          description: Row offset of the current page

    ListSandboxesResponseData:
      type: object
      required:
        - sandboxes
        - pagination
      properties:
        sandboxes:
          type: array
          items:
            $ref: '#/components/schemas/SandboxResponse'
        pagination:
          $ref: '#/components/schemas/ListPagination'

    ListTemplatesResponseData:
      type: object
      required:
        - templates
        - pagination
      properties:
        templates:
          type: array
          items:
            $ref: '#/components/schemas/TemplateRecord'
        pagination:
          $ref: '#/components/schemas/ListPagination'

    ListImportJobsResponseData:
      type: object
      required:
        - jobs
        - pagination
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/ImportJobListItem'
        pagination:
          $ref: '#/components/schemas/ListPagination'

    PrivateImageStorageUsageData:
      type: object
      required:
        - used_gb
        - limit_gb
        - percentage
      properties:
        used_gb:
          type: number
          format: double
        limit_gb:
          type: number
          format: double
        percentage:
          type: number
          format: double

    ValidateTemplateRequestBody:
      type: object
      required:
        - harbor_image_url
      properties:
        harbor_image_url:
          type: string

    ValidateTemplateResponseData:
      type: object
      required:
        - message
        - template_id
        - build_status
      properties:
        message:
          type: string
        template_id:
          type: string
        build_status:
          type: string
        harbor_image_url:
          type: string
          nullable: true

    UpdateTemplateStatusRequestBody:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [pending, building, pushing, available, failed]
        error_message:
          type: string
        push_logs:
          type: string
        harbor_image_url:
          type: string

    TemplateStatusUpdateResponseData:
      type: object
      required:
        - message
        - template_id
        - build_status
      properties:
        message:
          type: string
        template_id:
          type: string
        build_status:
          type: string

    UpdateTemplateResponseData:
      type: object
      required:
        - template
      properties:
        template:
          $ref: '#/components/schemas/TemplateRecord'

    ValidateCustomImageRequestBody:
      type: object
      required:
        - image_url
      properties:
        image_url:
          type: string
        username:
          type: string
          nullable: true
        password:
          type: string
          nullable: true

    ValidateCustomImageSuccessData:
      type: object
      required:
        - valid
      properties:
        valid:
          type: boolean
        message:
          type: string
        size_bytes:
          type: integer
          format: int64
        size_gb:
          type: number
          format: double
        cmd:
          type: array
          items:
            type: string
        entrypoint:
          type: array
          items:
            type: string

    ValidateCustomImageErrorData:
      type: object
      required:
        - valid
        - error
      properties:
        valid:
          type: boolean
          enum: [false]
        error:
          type: string

    DirectImportTemplateRequestBody:
      type: object
      required:
        - name
        - external_image_url
      properties:
        name:
          type: string
        description:
          type: string
        external_image_url:
          type: string
        external_registry_username:
          type: string
          nullable: true
        external_registry_password:
          type: string
          nullable: true
        default_cpu_count:
          type: integer
        default_memory_mb:
          type: integer
        visibility:
          type: string
          enum: [private, account_shared, public]
        ports:
          type: string
        custom_command:
          type: string
          nullable: true
        ready_command:
          type: string
          nullable: true

    DirectImportAcceptedResponseData:
      type: object
      required:
        - template_id
        - name
        - visibility
      properties:
        template_id:
          type: string
        name:
          type: string
        visibility:
          type: string
        job_id:
          type: string
        status:
          type: string
        external_image_url:
          type: string
          nullable: true
        harbor_image_url:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        message:
          type: string

    TemplateImportStartAcceptedData:
      type: object
      required:
        - job_id
        - template_id
        - status
        - message
      properties:
        job_id:
          type: string
        template_id:
          type: string
        status:
          type: string
        external_image_url:
          type: string
          nullable: true
        harbor_image_url:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        message:
          type: string

    TemplateImportStatusData:
      type: object
      required:
        - job_id
        - template_id
        - status
      properties:
        job_id:
          type: string
        template_id:
          type: string
        status:
          type: string
        progress_percentage:
          type: integer
        external_image_url:
          type: string
          nullable: true
        harbor_image_url:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        last_log_message:
          type: string
          nullable: true
        error_message:
          type: string
          nullable: true
        skopeo_logs:
          type: string
          nullable: true

    TemplateImportCancelData:
      type: object
      required:
        - job_id
        - status
        - message
      properties:
        job_id:
          type: string
        status:
          type: string
        message:
          type: string

    TemplateShareOperationData:
      type: object
      required:
        - template_id
        - visibility
        - message
      properties:
        template_id:
          type: string
        visibility:
          type: string
        harbor_project:
          type: string
        harbor_image_url:
          type: string
          nullable: true
        message:
          type: string

    ImportJobListItem:
      type: object
      required:
        - job_id
        - template_id
        - status
      properties:
        job_id:
          type: string
        template_id:
          type: string
        status:
          type: string
        progress_percentage:
          type: integer
        external_image_url:
          type: string
          nullable: true
        harbor_image_url:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        error_message:
          type: string
          nullable: true
      additionalProperties: true

    ImportJobDetailData:
      type: object
      required:
        - job_id
        - template_id
        - status
      properties:
        job_id:
          type: string
        template_id:
          type: string
        status:
          type: string
        progress_percentage:
          type: integer
        external_image_url:
          type: string
          nullable: true
        harbor_image_url:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
        last_log_message:
          type: string
          nullable: true
        error_message:
          type: string
          nullable: true
        skopeo_logs:
          type: string
          nullable: true
        retry_count:
          type: integer
        max_retries:
          type: integer
      additionalProperties: true

    TemplateRecord:
      type: object
      additionalProperties: true
      description: Template or import-related JSON object (snake_case from API; SDK normalizes keys)

    ImportJobRecord:
      type: object
      additionalProperties: true
      description: Deprecated alias for loose import job objects; prefer ImportJobListItem or ImportJobDetailData

    TemplateWriteRequestBody:
      type: object
      additionalProperties: true
      description: Request body with snake_case fields for template APIs

    TemplateChainItem:
      type: object
      properties:
        template_id:
          type: string
        name:
          type: string
        visibility:
          type: string

    TemplateChainResponseData:
      type: object
      properties:
        chain:
          type: array
          items:
            $ref: '#/components/schemas/TemplateChainItem'
        depth:
          type: integer

    ShareTemplateRequestBody:
      type: object
      properties:
        new_name:
          type: string

    PortConfig:
      type: object
      required:
        - port
        - name
      properties:
        port:
          type: integer
          format: int32
          minimum: 1
          maximum: 65535
          description: Container port number
        service_port:
          type: integer
          format: int32
          description: Kubernetes service port (defaults to port if not provided)
        protocol:
          type: string
          enum: [TCP, UDP]
          default: TCP
          description: Port protocol
        name:
          type: string
          maxLength: 15
          description: Port name (required, must be DNS-compatible)
        is_protected:
          type: boolean
          default: false
          description: Whether port is protected (template ports only, cannot be removed)

    CreateTemplateFromSandboxRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Template name (must be unique for the user)
        description:
          type: string
          description: Template description
        visibility:
          type: string
          enum:
            - private
            - account_shared
            - public
          description: |
            Template visibility: 'private' (owner only), 'account_shared' (account members), or 'public' (all users). Admin users can create public templates (default: 'public' for admin, 'private' for non-admin)
        cpu_count:
          type: integer
          minimum: 1
          description: CPU count (nil/omit = inherit from base template, 0 = explicitly inherit, >0 = use)
        memory_mb:
          type: integer
          minimum: 128
          description: Memory in MB (nil/omit = inherit from base template, 0 = explicitly inherit, >0 = use)
        ports:
          type: string
          description: Additional ports as JSON string (added to inherited ports from base template)
        reset_ports:
          type: boolean
          description: If true, remove unprotected ports from base template
        custom_command:
          type: string
          description: Custom startup command
        ready_command:
          type: string
          description: Custom readiness probe command

    ScaleboxRegion:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          description: Region identifier (e.g., 'us-east', 'eu-west', 'ap-southeast')
          example: us-east
        name:
          type: string
          description: Human-readable region name (e.g., 'US East (N. Virginia)')
          example: US East (N. Virginia)

    LocalityConfig:
      type: object
      description: |
        Locality preferences for sandbox scheduling. Controls where the sandbox
        will be scheduled based on geographical preferences. By default, locality
        is disabled and the system uses load-balanced scheduling.

        Priority rules:
        - region takes precedence over auto_detect. If both are set, auto_detect is ignored.
        - force only applies when region is explicitly set. It is ignored for auto_detect mode.
        - An empty object (all defaults) is valid and means disabled (default scheduling).
      properties:
        auto_detect:
          type: boolean
          default: false
          description: |
            Automatically detect the preferred region from the source IP address using GeoIP.
            Best-effort: if detection fails or the region is unavailable, silently falls back
            to default load-balanced scheduling.
            Note: If region is also set, auto_detect is ignored (region takes precedence).
        region:
          type: string
          description: |
            Explicitly specify a preferred Sandbox Region. Takes precedence over auto_detect.
            When provided, the system will prefer clusters in this region.
            If no clusters are available and force is false, falls back to other clusters.
            Use GET /v1/scalebox-regions to get a list of available regions.
          example: us-east
        force:
          type: boolean
          default: false
          description: |
            Hard constraint: fail if the requested region is not available.
            Only applies when region is explicitly set; ignored for auto_detect mode.

            When force is true and the specified region has no available clusters,
            sandbox creation will fail with a 409 Conflict error instead of falling back.

            Best practice: Only use force=true for strict compliance/regulatory requirements.
            For most use cases, use force=false (default) for graceful fallback.

    ObjectStorageConfig:
      type: object
      required:
        - uri
        - mount_point
        - access_key
        - secret_key
      description: |
        Object storage configuration for mounting S3-compatible storage.
        At least one of region or endpoint must be provided.
      properties:
        uri:
          type: string
          description: 'Object storage URI. Supported schemes: s3://, oss://, cos://'
          example: 's3://my-bucket/data/prefix/'
        mount_point:
          type: string
          description: Absolute mount path inside sandbox. Must start with /
          example: '/mnt/oss'
        access_key:
          type: string
          description: S3-compatible access key (not stored in backend DB)
        secret_key:
          type: string
          description: S3-compatible secret key (not stored in backend DB)
        region:
          type: string
          description: Storage region. At least one of region or endpoint required.
          example: 'ap-east-1'
        endpoint:
          type: string
          description: S3-compatible endpoint URL. At least one of region or endpoint required.
          example: 'https://s3.ap-east-1.amazonaws.com'

    ObjectStorageInfo:
      type: object
      description: Object storage mount information (credentials not returned for security)
      properties:
        uri:
          type: string
          description: Object storage URI
        mount_point:
          type: string
          description: Mount point path inside sandbox

    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Error message
        code:
          type: string
          description: Error code
        details:
          type: object
          description: Additional error details

security:
  - ApiKeyAuth: []