openapi: 3.0.3
info:
  title: Scalebox API
  description: Scalebox Cloud Sandbox API
  version: 1.0.0
  contact:
    name: Scalebox Team
    url: https://scalebox.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.scalebox.dev
    description: Production server
  - url: https://staging-api.scalebox.dev
    description: Staging server

paths:
  /v1/sandboxes:
    post:
      summary: Create a new sandbox
      description: Create a new sandbox instance
      tags:
        - Sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSandboxRequest'
      responses:
        '201':
          description: Sandbox created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SandboxResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      summary: List sandboxes
      description: Get list of sandboxes
      tags:
        - Sandboxes
      parameters:
        - name: project_id
          in: query
          schema:
            type: string
          description: Filter by project ID
        - name: status
          in: query
          schema:
            type: string
            enum: [created, starting, running, pausing, paused, resuming, terminating, terminated, failed]
          description: Filter by status
        - name: owner_user_id
          in: query
          schema:
            type: string
          description: Filter by owner user ID (root users only)
        - name: search
          in: query
          schema:
            type: string
          description: Search in sandbox names
        - name: sort_by
          in: query
          schema:
            type: string
          description: Sort by field
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [asc, desc]
          description: Sort order
        - name: limit
          in: query
          schema:
            type: integer
          description: Maximum number of results
        - name: offset
          in: query
          schema:
            type: integer
          description: Number of results to skip
      responses:
        '200':
          description: List of sandboxes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sandboxes:
                        type: array
                        items:
                          $ref: '#/components/schemas/SandboxResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}:
    get:
      summary: Get sandbox details
      description: Get details of a specific sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      responses:
        '200':
          description: Sandbox details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SandboxResponse'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update sandbox
      description: Update sandbox settings (mainly timeout)
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSandboxRequest'
      responses:
        '200':
          description: Sandbox updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete sandbox
      description: Delete a sandbox instance
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
        - name: force
          in: query
          schema:
            type: boolean
            default: true
          description: Force deletion even if sandbox is running
      responses:
        '202':
          description: Sandbox deletion initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sandbox_id:
                        type: string
                      status:
                        type: string
                      note:
                        type: string
                  message:
                    type: string
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/status:
    get:
      summary: Get sandbox status (lightweight)
      description: Returns only sandbox_id, status, substatus, reason, updated_at for polling. Use this instead of GET /v1/sandboxes/{sandbox_id} for status polling to reduce payload.
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      responses:
        '200':
          description: Sandbox status
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SandboxStatusResponse'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/pause:
    post:
      summary: Pause a running sandbox
      description: Pause a running sandbox. Default (sync) waits until paused or failed. Pass is_async in body to return immediately.
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                is_async:
                  type: boolean
                  default: false
                  description: When true, return immediately; when false, wait until paused/failed
      responses:
        '200':
          description: Sandbox paused (sync) or pause initiated (async)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/resume:
    post:
      summary: Resume a paused sandbox
      description: Resume a paused sandbox. Default (sync) waits until running or failed. Pass is_async in body to return immediately. Deprecated - prefer /connect endpoint.
      deprecated: true
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                is_async:
                  type: boolean
                  default: false
                  description: When true, return immediately; when false, wait until running/failed
      responses:
        '200':
          description: Sandbox resumed (sync) or resume initiated (async)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/timeout:
    put:
      summary: Update sandbox timeout
      description: Update the timeout for a sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxTimeoutRequest'
      responses:
        '200':
          description: Timeout updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      timeout:
                        type: integer
                      timeout_at:
                        type: string
                        format: date-time
                      used_lifetime:
                        type: integer
                      remaining_time:
                        type: integer
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/ports:
    get:
      summary: Get sandbox ports
      description: Get all ports (template + custom) for a sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      responses:
        '200':
          description: Port list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ports:
                        type: array
                        items:
                          $ref: '#/components/schemas/PortConfig'
                      template_ports:
                        type: array
                        items:
                          $ref: '#/components/schemas/PortConfig'
                      custom_ports:
                        type: array
                        items:
                          $ref: '#/components/schemas/PortConfig'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    post:
      summary: Add custom port to sandbox
      description: Add a custom port to a running sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - port
                - name
              properties:
                port:
                  type: integer
                  format: int32
                  description: Port number
                service_port:
                  type: integer
                  format: int32
                  description: Service port (defaults to port)
                protocol:
                  type: string
                  enum: [TCP, UDP]
                  default: TCP
                  description: Port protocol
                name:
                  type: string
                  description: Port name
      responses:
        '200':
          description: Port added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SandboxResponse'
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/ports/{port}:
    delete:
      summary: Remove custom port from sandbox
      description: Remove a custom port from a running sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
        - name: port
          in: path
          required: true
          schema:
            type: integer
            format: int32
          description: Port number to remove
      responses:
        '200':
          description: Port removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/create-template:
    post:
      summary: Create template from sandbox
      description: Create a template from a running sandbox. The sandbox must be in running state.
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateFromSandboxRequest'
      responses:
        '200':
          description: Template creation initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      template_id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      default_cpu_count:
                        type: integer
                      default_memory_mb:
                        type: integer
                      is_public:
                        type: boolean
                      status:
                        type: string
                      harbor_project:
                        type: string
                      harbor_repository:
                        type: string
                      harbor_tag:
                        type: string
                      base_template_id:
                        type: string
                      ports:
                        type: string
                        description: JSON string of port configurations
                      custom_command:
                        type: string
                      ready_command:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                      message:
                        type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/terminate:
    post:
      summary: Terminate sandbox
      description: Terminate a sandbox (keeps it visible in database)
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
        - name: force
          in: query
          schema:
            type: boolean
            default: false
          description: Force termination
      responses:
        '202':
          description: Sandbox termination initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sandbox_id:
                        type: string
                      status:
                        type: string
                      note:
                        type: string
                  message:
                    type: string

  /v1/sandboxes/{sandbox_id}/start:
    post:
      summary: Start sandbox
      description: Start a created sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      responses:
        '200':
          description: Sandbox started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      domain:
                        type: string
                        description: Sandbox access domain
                  message:
                    type: string
        '400':
          description: Bad request (e.g., sandbox already running)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/stop:
    post:
      summary: Stop sandbox
      description: Stop a running sandbox
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      responses:
        '200':
          description: Sandbox stopped successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request (e.g., sandbox not running)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/{sandbox_id}/deploy:
    post:
      summary: Deploy sandbox
      description: Deploy a sandbox using driver-based deployment
      tags:
        - Sandboxes
      parameters:
        - name: sandbox_id
          in: path
          required: true
          schema:
            type: string
          description: Sandbox ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cluster_id:
                  type: string
                  description: Target cluster ID (optional)
                cpu_count:
                  type: integer
                  description: Override CPU count (optional)
                memory_mb:
                  type: integer
                  description: Override memory in MB (optional)
      responses:
        '200':
          description: Sandbox deployed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SandboxDeploymentResponse'
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sandbox not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/sandboxes/stats:
    get:
      summary: Get sandbox statistics
      description: Get sandbox statistics for the current user
      tags:
        - Sandboxes
      responses:
        '200':
          description: Sandbox statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SandboxStatsResponse'

  /v1/sandboxes/batch-delete:
    post:
      summary: Batch delete sandboxes
      description: Delete multiple sandboxes in a single request
      tags:
        - Sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchDeleteRequest'
      responses:
        '200':
          description: Batch deletion results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BatchDeleteResponse'
                  message:
                    type: string

  /v1/sandboxes/batch-terminate:
    post:
      summary: Batch terminate sandboxes
      description: Terminate multiple sandboxes in a single request
      tags:
        - Sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchTerminateRequest'
      responses:
        '202':
          description: Batch terminate initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BatchOperationResponse'
                  message:
                    type: string

  /v1/sandboxes/batch-pause:
    post:
      summary: Batch pause sandboxes
      description: Pause multiple running sandboxes in a single request
      tags:
        - Sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchIdsRequest'
      responses:
        '202':
          description: Batch pause initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BatchOperationResponse'
                  message:
                    type: string

  /v1/sandboxes/batch-resume:
    post:
      summary: Batch resume sandboxes
      description: Resume multiple paused sandboxes in a single request
      tags:
        - Sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchIdsRequest'
      responses:
        '202':
          description: Batch resume initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BatchOperationResponse'
                  message:
                    type: string

  /v1/scalebox-regions:
    get:
      summary: Get available scalebox regions
      description: |
        Get a list of available Scalebox Regions that currently have eligible clusters.
        This is a public API (no authentication required) to help users discover
        available regions for locality-based scheduling.
      tags:
        - Sandboxes
      responses:
        '200':
          description: List of available scalebox regions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      scalebox_regions:
                        type: array
                        items:
                          $ref: '#/components/schemas/ScaleboxRegion'
                        description: List of available scalebox regions with eligible clusters
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

  schemas:
    CreateSandboxRequest:
      type: object
      properties:
        name:
          type: string
          description: Sandbox name
        description:
          type: string
          description: Sandbox description
        template:
          type: string
          description: Template name or ID (defaults to "base")
        project_id:
          type: string
          description: Project ID (optional, defaults to user's default project)
        cpu_count:
          type: integer
          minimum: 1
          description: Number of CPU cores
        memory_mb:
          type: integer
          minimum: 128
          description: Memory in MB
        storage_gb:
          type: integer
          minimum: 0
          description: Storage in GB
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Flexible key-value metadata
        timeout:
          type: integer
          minimum: 60
          maximum: 86400
          description: Timeout in seconds (defaults to 300)
        env_vars:
          type: object
          additionalProperties:
            type: string
          description: Environment variables
        secure:
          type: boolean
          default: true
          description: Security setting
        allow_internet_access:
          type: boolean
          default: true
          description: Internet access setting
        auto_pause:
          type: boolean
          default: false
          description: If true, timeout causes auto-pause; if false, timeout causes termination (IMMUTABLE)
        custom_ports:
          type: array
          items:
            $ref: '#/components/schemas/PortConfig'
          description: Optional custom ports (ports not in template). Must have unique port numbers and names.
        net_proxy_country:
          type: string
          enum: [united-states, canada, japan, malaysia, brazil, france, italy, china, hong-kong]
          description: Network proxy country for sandbox traffic routing (optional)
        locality:
          $ref: '#/components/schemas/LocalityConfig'
          description: Locality preferences for sandbox scheduling (optional)

    UpdateSandboxRequest:
      type: object
      required:
        - timeout
      properties:
        timeout:
          type: integer
          minimum: 1
          description: New timeout in seconds (must be greater than current timeout)

    SandboxTimeoutRequest:
      type: object
      required:
        - timeout
      properties:
        timeout:
          type: integer
          minimum: 1
          description: New timeout in seconds (must be >= already used lifetime)

    SandboxStatusResponse:
      type: object
      description: Lightweight status for polling (GET /v1/sandboxes/{sandbox_id}/status)
      properties:
        sandbox_id:
          type: string
          description: Sandbox ID
        status:
          type: string
          enum: [created, starting, running, pausing, paused, resuming, terminating, terminated, failed]
          description: Current sandbox status
        substatus:
          type: string
          enum: [allocating, deploying, initializing, waiting_ready, cleaning_resources, cleaning_data]
          nullable: true
          description: Detailed substatus for transitional states
        reason:
          type: string
          nullable: true
          description: Reason for current status or failure
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    SandboxResponse:
      type: object
      properties:
        sandbox_id:
          type: string
          description: Unique sandbox identifier
        name:
          type: string
          description: Sandbox name
        description:
          type: string
          description: Sandbox description
        template_id:
          type: string
          description: Template ID
        template_name:
          type: string
          description: Template name
        owner_user_id:
          type: string
          description: Owner user ID
        project_id:
          type: string
          description: Project ID
        project_name:
          type: string
          description: Project name
        cpu_count:
          type: integer
          description: Number of CPU cores
        memory_mb:
          type: integer
          description: Memory in MB
        storage_gb:
          type: integer
          description: Storage in GB
        timeout:
          type: integer
          description: Timeout in seconds
        secure:
          type: boolean
          description: Security setting
        allow_internet_access:
          type: boolean
          description: Internet access setting
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Metadata key-value pairs
        env_vars:
          type: object
          additionalProperties:
            type: string
          description: Environment variables
        status:
          type: string
          enum: [created, starting, running, pausing, paused, resuming, terminating, terminated, failed]
          description: Current sandbox status
        substatus:
          type: string
          enum: [allocating, deploying, initializing, waiting_ready, cleaning_resources, cleaning_data]
          description: Detailed substatus for transitional states
        reason:
          type: string
          description: Reason for current status or failure
        started_at:
          type: string
          format: date-time
          description: When sandbox started running
          nullable: true
        stopped_at:
          type: string
          format: date-time
          description: When sandbox stopped
          nullable: true
        timeout_at:
          type: string
          format: date-time
          description: When sandbox will timeout
          nullable: true
        ended_at:
          type: string
          format: date-time
          description: When sandbox lifecycle ended
          nullable: true
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
        sandbox_domain:
          type: string
          description: Sandbox access domain
          nullable: true
        envd_access_token:
          type: string
          description: Token for sandbox access
          nullable: true
        uptime:
          type: integer
          description: Uptime in seconds
        total_running_seconds:
          type: integer
          description: Cumulative running time across all running phases (persistent)
        actual_total_running_seconds:
          type: integer
          format: int64
          description: Dynamic total running time including current phase if running
        total_paused_seconds:
          type: integer
          description: Cumulative paused time across all pause periods (persistent)
        actual_total_paused_seconds:
          type: integer
          description: Dynamic total paused time including current pause if paused
        persistence_days:
          type: integer
          description: Number of days sandbox data persists after termination (from plan)
        persistence_expires_at:
          type: string
          format: date-time
          description: When sandbox data will be permanently deleted
          nullable: true
        persistence_days_remaining:
          type: integer
          description: Days remaining until data deletion
          nullable: true
        auto_pause:
          type: boolean
          description: If true, timeout causes auto-pause; if false, termination (IMMUTABLE)
        network_proxy:
          type: object
          description: Network proxy config (when token generated)
          nullable: true
          properties:
            proxy_url:
              type: string
              description: Full proxy URL (username:password@host:port)
            proxy_configs:
              type: object
              properties:
                host:
                  type: string
                port:
                  type: integer
                username:
                  type: string
                password:
                  type: string
        ports:
          type: array
          items:
            $ref: '#/components/schemas/PortConfig'
          description: All ports (template ports + custom ports)
        template_ports:
          type: array
          items:
            $ref: '#/components/schemas/PortConfig'
          description: Ports from template
        custom_ports:
          type: array
          items:
            $ref: '#/components/schemas/PortConfig'
          description: Custom ports added to sandbox
        net_proxy_country:
          type: string
          enum: [united-states, canada, japan, malaysia, brazil, france, italy, china, hong-kong]
          description: Network proxy country setting
          nullable: true
        # Kubernetes deployment information
        cluster_id:
          type: string
          description: Kubernetes cluster ID where sandbox is deployed
          nullable: true
        namespace_id:
          type: string
          description: User namespace ID in the cluster
          nullable: true
        pod_name:
          type: string
          description: Kubernetes pod name
          nullable: true
        pod_uid:
          type: string
          description: Kubernetes pod UID
          nullable: true
        pod_ip:
          type: string
          description: Pod IP address
          nullable: true
        node_name:
          type: string
          description: Node where pod is scheduled
          nullable: true
        container_name:
          type: string
          description: Container name within the pod
          nullable: true
        allocation_time:
          type: string
          format: date-time
          description: When sandbox was allocated to cluster
          nullable: true
        last_pod_status:
          type: string
          description: Last known Kubernetes pod status
          nullable: true
        # State management information
        deletion_in_progress:
          type: boolean
          description: Whether sandbox deletion is in progress
          default: false
        resources:
          type: object
          properties:
            cpu:
              type: integer
              description: CPU cores allocated
            memory:
              type: integer
              description: Memory in MB allocated
            storage:
              type: integer
              description: Storage in GB allocated
            bandwidth:
              type: integer
              description: Bandwidth allocation (placeholder)
        cost:
          type: object
          properties:
            hourlyRate:
              type: number
              format: float
              description: Hourly rate for this sandbox
            totalCost:
              type: number
              format: float
              description: Total cost accumulated
        owner:
          type: object
          properties:
            user_id:
              type: string
              description: User ID of the owner
            username:
              type: string
              description: Username of the owner
            display_name:
              type: string
              description: Display name of the owner
              nullable: true
            email:
              type: string
              description: Email of the owner

    SandboxDeploymentResponse:
      type: object
      properties:
        sandbox_id:
          type: string
          description: Sandbox ID
        cluster_id:
          type: string
          description: Cluster ID where sandbox is deployed
        namespace:
          type: string
          description: Kubernetes namespace
        access_url:
          type: string
          description: External access URL
        internal_url:
          type: string
          description: Internal cluster URL
        access_token:
          type: string
          description: Access token for the sandbox
        status:
          type: string
          description: Deployment status
        deployment_at:
          type: string
          format: date-time
          description: Deployment timestamp
        deployment:
          type: string
          description: Kubernetes deployment name
        service:
          type: string
          description: Kubernetes service name
        ingress:
          type: string
          description: Kubernetes ingress name
        sandbox_type:
          type: string
          description: Type of sandbox deployed
        driver_version:
          type: string
          description: Driver version used for deployment

    SandboxStatsResponse:
      type: object
      properties:
        total_sandboxes:
          type: integer
          description: Total number of sandboxes
        running_sandboxes:
          type: integer
          description: Number of running sandboxes
        terminated_sandboxes:
          type: integer
          description: Number of terminated sandboxes
        failed_sandboxes:
          type: integer
          description: Number of failed sandboxes
        total_cost:
          type: number
          format: float
          description: Total cost accumulated
        avg_cpu_usage:
          type: number
          format: float
          description: Average CPU usage percentage
        avg_memory_usage:
          type: number
          format: float
          description: Average memory usage percentage
        total_uptime_hours:
          type: number
          format: float
          description: Total uptime in hours

    BatchDeleteRequest:
      type: object
      required:
        - sandbox_ids
      properties:
        sandbox_ids:
          type: array
          items:
            type: string
          description: List of sandbox IDs to delete
        force:
          type: boolean
          default: false
          description: Force deletion even if sandboxes are running

    BatchDeleteResponse:
      type: object
      properties:
        successful_count:
          type: integer
          description: Number of successfully deleted sandboxes
        failed_count:
          type: integer
          description: Number of failed deletions
        successful:
          type: array
          items:
            type: string
          description: List of successfully deleted sandbox IDs
        failed:
          type: array
          items:
            type: object
            properties:
              sandbox_id:
                type: string
              error:
                type: string
          description: List of failed deletions with errors

    BatchIdsRequest:
      type: object
      required:
        - sandbox_ids
      properties:
        sandbox_ids:
          type: array
          items:
            type: string
          description: List of sandbox IDs

    BatchTerminateRequest:
      type: object
      required:
        - sandbox_ids
      properties:
        sandbox_ids:
          type: array
          items:
            type: string
          description: List of sandbox IDs to terminate
        force:
          type: boolean
          default: false
          description: Force termination even if sandboxes are running

    BatchOperationResult:
      type: object
      properties:
        sandbox_id:
          type: string
        status:
          type: string
          enum: [success, error]
        error:
          type: string
          description: Error message when status is error

    BatchOperationResponse:
      type: object
      properties:
        total:
          type: integer
        successful:
          type: integer
        failed:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/BatchOperationResult'

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object

    PortConfig:
      type: object
      required:
        - port
        - name
      properties:
        port:
          type: integer
          format: int32
          minimum: 1
          maximum: 65535
          description: Container port number
        service_port:
          type: integer
          format: int32
          description: Kubernetes service port (defaults to port if not provided)
        protocol:
          type: string
          enum: [TCP, UDP]
          default: TCP
          description: Port protocol
        name:
          type: string
          maxLength: 15
          description: Port name (required, must be DNS-compatible)
        is_protected:
          type: boolean
          default: false
          description: Whether port is protected (template ports only, cannot be removed)

    CreateTemplateFromSandboxRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Template name (must be unique for the user)
        description:
          type: string
          description: Template description
        visibility:
          type: string
          enum:
            - private
            - account_shared
            - public
          description: |
            Template visibility: 'private' (owner only), 'account_shared' (account members), or 'public' (all users). Admin users can create public templates (default: 'public' for admin, 'private' for non-admin)
        cpu_count:
          type: integer
          minimum: 1
          description: CPU count (nil/omit = inherit from base template, 0 = explicitly inherit, >0 = use)
        memory_mb:
          type: integer
          minimum: 128
          description: Memory in MB (nil/omit = inherit from base template, 0 = explicitly inherit, >0 = use)
        ports:
          type: string
          description: Additional ports as JSON string (added to inherited ports from base template)
        reset_ports:
          type: boolean
          description: If true, remove unprotected ports from base template
        custom_command:
          type: string
          description: Custom startup command
        ready_command:
          type: string
          description: Custom readiness probe command

    ScaleboxRegion:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          description: Region identifier (e.g., 'us-east', 'eu-west', 'ap-southeast')
          example: us-east
        name:
          type: string
          description: Human-readable region name (e.g., 'US East (N. Virginia)')
          example: US East (N. Virginia)

    LocalityConfig:
      type: object
      description: |
        Locality preferences for sandbox scheduling. Controls where the sandbox
        will be scheduled based on geographical preferences. By default, locality
        is disabled and the system uses load-balanced scheduling.
      properties:
        auto_detect:
          type: boolean
          default: false
          description: |
            Automatically detect the preferred region from the source IP address.
            When enabled, the system will infer the region from your IP address using GeoIP.
            If detection fails or the detected region is not available, the system will
            fall back to default load-balanced scheduling (unless force is true).
        region:
          type: string
          description: |
            Explicitly specify a preferred Sandbox Region. When provided, the system
            will prefer clusters in this region. If no clusters are available in this
            region and force is false, the system will fall back to other available clusters.
            Use GET /v1/scalebox-regions to get a list of available regions.
          example: us-east
        force:
          type: boolean
          default: false
          description: |
            **Hard constraint**: fail if the requested region is not available.
            
            When force is true and the specified region has no available clusters,
            sandbox creation will fail with a 409 Conflict error instead of falling back
            to other regions.
            
            **WARNING**: Use this option carefully. If the requested region is unavailable,
            sandbox creation will fail even if other regions have capacity. This is a
            hard constraint that prioritizes region preference over availability.
            
            **Best practice**: Only use force=true when you have strict compliance or
            regulatory requirements. For most use cases, use force=false (default) to
            allow graceful fallback to other available regions.

    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Error message
        code:
          type: string
          description: Error code
        details:
          type: object
          description: Additional error details

security:
  - ApiKeyAuth: []